* {
    
    font-family: 'Open Sans',
        sans-serif;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #f9fafb;

    font-size: 16px;
    box-sizing: border-box;
}

section {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 10px;
}

.image img {
    height: 100%;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .flex-gap > :nth-child(even){
        padding-left: 10;
        
    }
    .flex-gap > :nth-child(odd){
        padding-right: 10px;
        
    }
}
.search input{
    max-height: 32px;
    padding: 12px;
    outline: none;
    border: 1px solid #e3e3e3;
    width: 100%;
}
.search input:focus{
    border: 1px solid #40a9ff;
    box-shadow: 0 1px 2px 0px #40a9ff;
}
.search input:hover{
    border: 1px solid #40a9ff;
}
.select-option select{
    max-height: 32px;
    padding: 4px;
    outline: none;
    border: 1px solid #e3e3e3;
    width: 100%;
    border-radius: 2px;
}
.select-option select:focus{
    border: 1px solid #40a9ff;
    box-shadow: 0 1px 2px 0px #40a9ff;
}
.select-option select:hover{
    border: 1px solid #40a9ff;
}
.table-scroll table th{
    text-align: left;
    font-size: 14px;
    background-color: #FAFAFA;
    font-weight: 500;
    
    padding: 16px 16px;
    
}
.table-scroll table tr td{
    font-size: 14px;
    padding: 16px 16px;
    border-bottom: 1px solid #e3e3e3;
}

.table-scroll::-webkit-scrollbar {
    width: 12px; /* Đặt kích thước của thanh cuộn ngang */
    height: 8px; /* Đặt chiều cao của thanh cuộn ngang */
    border-radius: 10px;
  }
  
.table-scroll::-webkit-scrollbar-thumb {
    background-color: #c4dcca; /* Đặt màu sắc cho cần cuộn */
    border-radius: 10px;
  }
/* .pagination a.active {
    border: 1px solid #e3e3e3;
    padding: 2px 8px;
    background-color: #ffffff;
    
} */

.pagination {
    display: flex;
    gap: 6px;
    justify-content: end;
}
.pagination a {
    
    padding: 2px 8px;
    text-decoration: none;
    border: 1px solid #e3e3e3;
}
.pagination a.active {
    
    color: #40a9ff;
    border: 1px solid #40a9ff;
}
.pagination a:hover {
    
    color: #40a9ff;
    border: 1px solid #40a9ff;
}
.menu-opened{
    left: 0 !important;
}